/* .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} */

#footer-transition-img {
    display: block;
    width: 100vw;
    z-index: 9999999;
    background: white;
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 749px) {
    .site-footer {
        padding: 0 75px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 989px) {
    .site-footer {
        position: relative;
        z-index: 100;
    }
}