nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed;
    width: 100%; */
    padding-top: 2rem;
}

nav a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}